/**
	PTLINKED Plugin Styles
	Customer: MDVIP
	Version: 1.0.1
	Author: Mike Frank (PTLINKED LLC) - mfrank@ptlinked.com

	Table of Contents
	==========================================================

	1.0 General reset & setup
	1.1 Reset and overrides

	2.0 Category Slider/Scroller
	2.1 Scroller container and arrows
	2.2 Category bubbles

	3.0 Exercise Program Grid
	3.1 Grid
	3.2 Grid View Filters
	3.3 Mobile Grid Filters
	3.4 Mobile Search Panel
	3.5 Grid No Results
	3.6 Grid Exercise Program Cards
	3.7 Load More

	4.0 Exercise Program Viewer
	4.1 Exercise Program Viewer
	4.2 Exercise Program Viewer Header
	4.3 Exercise Item
	4.4 Desktop Thumbnail Slider

**/

/* -------------------------------
   1.0 General reset & setup
------------------------------- */

/* 0.0 Sample Site Overrides (all.css) */
.site-header__title{ font-size:3.8rem; }
@media (max-width:414px) { .site-header__title{ font-size: 2.8rem; } }
.site-header__main-nav{ margin-bottom: 34px; }
.ui-dialog{ z-index: 5000!important; }
.temp-site-header-test{ display: block; height: 155px; width: 100%; background-color: #fff; }

/* 1.1 Reset and overrides */
/*body{ overflow: hidden; }
body, html, #page-container{ height: 100%; }*/
.ptlinked--application_container{ width: 100%; height: 100%; display: block; position: relative; }
@media ( max-width:991px ) {
	.ptlinked--application_container{ height: 100%; }
}
.hide{ display: none; }
.margin-right-20{ margin-right: 2rem; }
.margin-left-20{ margin-left: 2rem; }
.fa-spin { -webkit-animation:fa-spin 2s linear infinite; animation:fa-spin 2s linear infinite }
@-webkit-keyframes fa-spin {
	0% { -webkit-transform:rotate(0deg); transform:rotate(0deg) }
	to { -webkit-transform:rotate(1turn); transform:rotate(1turn) }
}
@keyframes fa-spin {
	0% { -webkit-transform:rotate(0deg); transform:rotate(0deg) }
	to { -webkit-transform:rotate(1turn); transform:rotate(1turn) }
}

/* 1.2 Dialog Box */
.ui-dialog{ min-width: 450px; }
.ui-widget-header{ background-color: #c54905; color: #fff; }
.ui-dialog .ui-dialog-titlebar-close{  }
.ui-dialog .ui-dialog-buttonpane button{ text-transform: uppercase; -webkit-transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out; -o-transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out; transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out; background-color: #fff; border-color: #c54905; color: #c54905; } 
@media( max-width: 414px ) {
	.ui-dialog{ min-width: 100%; }
}

/* 1.3 Form Components */
.search-input__search-button { background-color: #FFF; border: 2px solid #c54905;  border-left: none; min-width: 4rem; }
.search-input__search-button:hover, .search-input__search-button:focus { background-color: #fff; border: 2px solid #c54905;  border-left: none; }
@media (max-width: 1024px){
	#ptl-mobile_filter_button { border-left: 2px solid #c54905; border-right: none; }	 
}
.form-control.search-input__search-container{ border: 2px solid #c54905 !important; border-right: none!important; }
.search-input__search-button .icon--search{ width: 1.8rem; height: 1.8rem; }
.search-input__search-button .icon--search path{ fill: #c54905; color: #c54905; }

/* -------------------------------
   2.0 Category Slider/Scroller
------------------------------- */

/* 2.1 Scroller container and arrows */
.scroll-container{ padding-left: 45px; padding-right: 64px; white-space: nowrap; overflow: hidden; border-top: 2px solid #e1e1e1; border-bottom: 2px solid #e1e1e1; position: relative; }
.scroll-container .divider-line{ display: none; }
.scroll-container .left-arrow, .scroll-container .right-arrow{ font-size: 4rem; position: absolute; top: 9px; line-height: 64px; width: 45px; text-align: center; cursor: pointer; display: none; }
.scroll-container .left-arrow{ left: 0px; }
.scroll-container .right-arrow{ right: 16px; }
.scroll-container .show-arrow{ display: block; }
.scroll-container .icon--mdvip-arrow-left{ display: none; }
.scroll-container .icon--mdvip-arrow-right{ display: none; }

/* 2.2 Category bubbles */
.scroll-container ul.category-bubbles-list{ transition-duration: 0.15s; transition-timing-function: cubic-bezier(0.05, 0, 0, 1); will-change: transform; display: inline-block; white-space: nowrap; min-height: 74px; }
@media (max-width: 414px){ .cards--item_footer .cards--program_title{ min-height: 2.4rem; } }
.ptlinked--application_container .scroll-container .category-bubbles-list{ list-style: none; margin: 0; /*padding: 0;*/ display: flex; /*border-top: 2px solid #e1e1e1; border-bottom: 2px solid #e1e1e1;*/ padding: 0; overflow: hidden; }
.ptlinked--application_container .scroll-container .category-bubbles-list > li{ display: inline-flex; height: 50px; min-width: max-content; padding: 0 10px; margin: 12px; margin-left: 0px; border-radius: 16px; box-sizing: border-box; outline: none; overflow: hidden; cursor: pointer; user-select: none; display: var(--layout-horizontal_-_display); -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; -ms-flex-align: center; -webkit-align-items: center; align-items: center; display: inline-flex; line-height: 2.1rem; border:1px solid #e0e0e0; background-color: #ececec; padding:0 19px; transition: background-color 0.5s cubic-bezier(0.05, 0.0, 0.0, 1); font-size: 1.6rem; }
.ptlinked--application_container .scroll-container .category-bubbles-list > li:hover{ background-color: rgba(0,0,0,0.2); }
.ptlinked--application_container .scroll-container .category-bubbles-list > li a{ color: #030303; font-weight: 400; }
.ptlinked--application_container .scroll-container .category-bubbles-list > li a:hover, .ptlinked--application_container .scroll-container .category-bubbles-list > li a:active, .ptlinked--application_container .scroll-container .category-bubbles-list > li a:focus{ text-decoration: none; }
.ptlinked--application_container .scroll-container .category-bubbles-list > li.active-filter{ background-color: #c54905; border-color: #c54905; }
.ptlinked--application_container .scroll-container .category-bubbles-list > li.active-filter:hover{ background-color:#de6400 ; }
.ptlinked--application_container .scroll-container .category-bubbles-list > li.active-filter a{ color: #fff; font-weight: 500; }
.ptlinked--application_container .scroll-container .category-bubbles-list > li.active-filter a:hover, .ptlinked--application_container .scroll-container .category-bubbles-list > li a:active, .ptlinked--application_container .scroll-container .category-bubbles-list > li a:focus{ text-decoration: none; }
@media all and (-ms-high-contrast:none) { 
 	.ptlinked--application_container .scroll-container .category-bubbles-list{ display: block; }
 	.ptlinked--application_container .scroll-container .category-bubbles-list > li{ display: inline-block; line-height: 50px; }
}

/* 2.3 MDVIP Category Bubbles */
.scroll-container.mdvip { border-bottom: 0; }
.scroll-container.mdvip .divider-line{ display: block; position: absolute; width:100%; height: 2px; background-color: #c54905; top: 60px; left: 0;  }
.scroll-container.mdvip .left-arrow, .scroll-container.mdvip .right-arrow{ top: 12px; height:  50px; width: 45px; background-color: #c54905; }
.scroll-container.mdvip .icon--mdvip-arrow-left{ display: block; width: 12px; margin: 0 auto; position: relative; top: 12px; color: #fff; }
.scroll-container.mdvip .icon--mdvip-arrow-right{ display: block; width: 12px; margin: 0 auto; position: relative; top: 12px; color: #fff; }
.scroll-container.mdvip .icon--arrow-left{ display: none; }
.scroll-container.mdvip .icon--arrow-right{ display: none; }
.ptlinked--application_container .scroll-container.mdvip .category-bubbles-list > li{ border-radius: 0px; border: 2px solid #c54905; background-color: #fff; }
.ptlinked--application_container .scroll-container.mdvip .category-bubbles-list > li a{ color: #c54905; }
.ptlinked--application_container .scroll-container.mdvip .category-bubbles-list > li.active-filter{ background-color: #fff; border-color: #c54905; border-bottom:2px solid #fff; }
.ptlinked--application_container .scroll-container.mdvip .category-bubbles-list > li.active-filter a{ color: #030303; }



/* -------------------------------
   3.0 Exercise Program Grid
------------------------------- */


/* 3.1 Grid */
.cards--grid_renderer{ display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.cards--grid_container{ margin-top: 50px; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; justify-content: space-between; justify-content: space-evenly; padding: 0 1.5rem; max-width: 100%; padding-bottom: 10rem; }
.scroll-on-hover{ overflow: hidden; overflow-y: visible; /*height: calc(100% - 60px);*/ height: 100%; }

/* 3.2 Grid View Filters */
#grid-filter{ margin-top: 3rem; width: 100%; }
@media( max-width: 1024px ) { #grid-filter{ display: none; } }
.grid-filter--inner_wrapper{ display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; }
.grid-filter--inner_wrapper .grid-filter--activator_wrapper{ flex-grow: 0; }
.grid-filter--inner_wrapper .grid-filter--drop_down{ flex-grow: 1; }
.grid-filter--inner_wrapper .grid-filter--search_wrapper{ flex-grow: 0; font-size: 1.2rem;  font-weight: 400; line-height: 2rem; color: #606060; cursor: pointer; position: relative; z-index: 5; }
.grid-filter--inner_wrapper .grid-filter--drop_down .grid-filter--option_wrapper{ display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; }
.grid-filter--inner_wrapper .grid-filter--drop_down .grid-filter--filter_label_wrapper{ display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; margin-top: 4rem; }
.grid-filter--inner_wrapper .grid-filter--drop_down .grid-filter--filter_options_wrapper{ display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; }
.grid-filter--inner_wrapper .grid-filter--drop_down .filter--drop_down_conditions-wrapper, .grid-filter--inner_wrapper .grid-filter--drop_down .filter--drop_down_subcategories-wrapper{ display: none; }
.filter--drop_down_subcategories-wrapper.active, .filter--drop_down_conditions-wrapper.active{ display: block!important; }
.card--grid_filter{ text-transform: uppercase; font-size: 1.6rem; font-weight: 500; color: #606060; cursor: pointer; line-height: 2rem; position: relative; top: 2px;}
.card--grid_filter:hover{ color: #303030; }
.card--grid_filter svg{ width: 1.6rem; height: 1.6rem; position: relative; top: 2px; }
#grid-filter.open .card--grid_filter{ color: #303030; font-weight: 600; position: relative; z-index: 5; }
.grid-filter--drop_down{ height: 0; padding: 0; margin: 0; transition: height 0.2s linear; overflow:hidden;  padding: 0 10rem; }
@media (max-width: 1500px){ .grid-filter--drop_down{ padding: 0 5rem; } }
@media (max-width: 1360px){ .grid-filter--drop_down{ padding: 0 1rem; } }
@media (max-width: 1175px){ .grid-filter--drop_down{ padding: 0 1rem; } }
#grid-filter.open .grid-filter--drop_down{ height: 40rem; }
#grid-filter.open .grid-filter--drop_down.custom-category-displayed{ height: 6rem; }
.grid-filter--drop_down.custom-category-displayed .grid-filter--filter_label_wrapper, .grid-filter--drop_down.custom-category-displayed .grid-filter--filter_options_wrapper{ display: none; }
.grid-filter--column_header{ font-size: 1.4rem; font-weight: 600; text-transform: uppercase; display: block; color: #c54905; padding-bottom: 1.5rem; border-bottom: 1px solid #ccc; width: 100%; margin-bottom: 30px; }
.grid-filter--column_options{ font-size: 1.4rem; font-weight: 400; display: block; color: #606060;  }
.grid-filter--column_options ul{ list-style: none; padding: 0; margin: 0; }
.grid-filter--column_options ul li{ line-height: 2.5rem; cursor: pointer; }
.grid-filter--column_options ul li.disabled{ color: #ccc; cursor: default; }
.grid-filter--column_options ul li svg{ opacity: 0; transition: opacity 0.2s; width: 0.8rem; height: 1.8rem; position: relative; top: 6px; }
.grid-filter--column_options ul li:hover svg.selection-hover{ opacity: 1; }
.grid-filter--column_options ul li.disabled:hover svg.selection-hover{ opacity: 0; }
.grid-filter--column_options ul li.selected{ color: #303030; font-weight: 600; }
.grid-filter--column_options ul li.selected svg.selection-remove{ opacity: 1; width: 1.4rem; height: 1.4rem; top: 3px; }
@media (max-width: 1366px) {
	.cards--grid_container_item{ width: 315px; min-height: 295px;  }
}

@media (max-width: 1024px) {
	.grid-filter--drop_down{ display: none; }
	.scroll-container{ display: none; }
}
.card--grid_filter_clear{ display: none; margin-left: 1.5rem; min-width: max-content; cursor: pointer; color: #606060; font-size: 1.2rem; line-height: 2rem; }
.card--grid_filter_clear.active{ display: inline-block; border-left: 1px solid #606060; padding-left: 1.5rem; }
.card--grid_request_content{ font-size: 1.2rem;  font-weight: 400; line-height: 2rem; color: #606060; text-decoration: underline; cursor: pointer; position: relative; z-index: 5; }
.grid-filter--search_wrapper .search-input__outer-container{ width: auto; min-width: 300px; }
.grid-filter--search_wrapper .search-input__outer-container input{ width: 275px; transition: width 0.5s; }
.grid-filter--search_wrapper .search-input__outer-container input:focus{ width: 375px; }
@media(max-width: 1400px){
	.grid-filter--search_wrapper .search-input__outer-container input{ width: 200px; }
	.grid-filter--search_wrapper .search-input__outer-container input:focus{ width: 250px; }
}
@media(max-width: 1300px){
	.grid-filter--search_wrapper .search-input__outer-container input{ width: 180px; }
	.grid-filter--search_wrapper .search-input__outer-container input:focus{ width: 230px; }
}
.select2{ width:100%!important; }
.select2-container--default .select2-selection--single{ border-color: #c54905; border-radius: 0px; height: 35px; font-size: 1.4rem; line-height: 25.6px; padding: 3px 12px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b{ border-color: #c54905 transparent transparent transparent; border-width: 10px 8px 0 8px; margin-left: -12px; margin-top: 2px;  }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{ border-color: transparent transparent #c54905 transparent; border-width: 0 8px 10px 8px; margin-left: -12px; margin-top: 2px; }
.select2-results__option{ font-size: 1.4rem; }
.grid-filter--search_wrapper .header-search-bar-clear{ position: absolute; top: 8px; right: 50px; cursor: pointer; display: none; font-size: 2rem; }
.grid-filter--search_wrapper .header-search-bar-clear.active{ display: block; }
@media(max-width: 414px){
	.select2-container--default .select2-selection--single{ font-size: 1.2rem; padding: 3px 6px; height: 3.4rem; }
	.select2-container--default .select2-selection--single .select2-selection__arrow b{ margin-top: 0px; }
}

/* 3.3 Mobile Grid Filters */
.mobile-filter-panel_list{ display: flex; justify-content: flex-start; flex-direction: row; flex-wrap: wrap;   }
.mobile-filter--value{ display: inline-flex; width: 100%; font-size: 1.4rem; }
@media(max-width: 414px){
	.mobile-filter--label{ font-size: 1.2rem; }
	.mobile-filter--value{ font-size: 1.2rem; }
}
.mobile-filter--clear{ display: none; width: 10%; float: right; text-align: right; }
.mobile-filter--clear.active{ display: block; cursor: pointer; color: #c54905; }
.mobile--grid_filter_clear{ font-size: 2rem; visibility: hidden; flex-grow: 3; line-height: 5.8rem; margin-left: 2rem;  }
.mobile--grid_filter_clear.active{ visibility: visible; color: #c54905; cursor: pointer; }
.mobile-filter-panel{ position: absolute; top: 0rem; bottom: 0rem; left: 0rem; right: 0rem; width: 100%; height: 100%; background-color: #fff; display: none; z-index: 55; }
ul.mobile-filter-panel_list{ list-style: none; padding: 0; margin: 0; padding: 0 5rem; }
ul.mobile-filter-panel_list li{ width: 100%; display: block; height: 70px; line-height: 50px; padding: 10px; font-size: 2.8rem; color: #717171; cursor: pointer; }
ul.mobile-filter-panel_list li.hide{ display: none; }
ul.mobile-filter-panel_list li i{ /*margin-right: 2.5rem;*/ }
ul.mobile-filter-panel_list li.double-divider{ /*border-bottom: 3px solid #ccc;*/ display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; }
ul.mobile-filter-panel_list li.single-divider{ /*border-bottom: 1px solid #ccc;*/ }
ul.mobile-filter-panel_list li.conditions-mobile_dropdown, ul.mobile-filter-panel_list li.subcategories-mobile_dropdown{ display: none; }
ul.mobile-filter-panel_list li.conditions-mobile_dropdown.active, ul.mobile-filter-panel_list li.subcategories-mobile_dropdown.active{ display: block!important; }
.mobile-filter-panel.opened{ display: block; }
#ptl-mobile_filter_button.active{ background-color: #c54905; border-color: #c54905; color: #fff;  }
#ptl-mobile_filter_button.active svg path{ fill: #ccc; color: #ccc; }
.search-input__search-button .icon--filter{ width: 24px; height: 24px; }
.search-input__search-button .icon--search{ margin-top: 4px; }
@media(max-width: 1024px){
	ul.mobile-filter-panel_list{ padding: 0 1.5rem; }
}
.mobile-overlay{ position: absolute; margin-top: 5.6rem; top: 0; bottom: 0; right: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 50; display: none; }
.mobile-overlay.on{ display: block; }
#mobile-predesigned--filter_link{ width: 90%; margin: 0 auto; margin-top: 1rem; }
#mobile-predesigned--filter_link .mobile-filter-link{ color: #c54905; cursor: pointer; }
#mobile-predesigned--filter_link .mobile-filter-link i{ margin-right: 1rem; }
.mobile--grid_filter_close i{ color: #c54905; cursor: pointer; font-size: 4rem; }


/* 3.4 Mobile Search Panel */
.navbar-mobile--search_panel{ margin-top: 2rem; display: none; }
input[type='text']:-ms-input-placeholder{ display: block; }
@media (max-width: 1024px) {
	.navbar-mobile--search_panel{ display: block; }
}
.navbar-mobile--search_panel .search-input__outer-container{ margin: 0 auto; }
@media (max-width: 490px) {
	.navbar-mobile--search_panel .search-input__outer-container{ width: 90%; }
}

.navbar-mobile--search_panel .mheader-search-bar-clear{ position: absolute; top: 2px; right: 75px; cursor: pointer; display: none; font-size: 2rem; z-index: 5; }
.navbar-mobile--search_panel .mheader-search-bar-clear.active{ display: block; }

/* 3.5 Grid No Results */
.cards--grid_container.display_info_box{ display: none; }
#predesigned--no_results_display, #predesigned--sys_error{ display: none; }
#predesigned--no_results_display.active, #predesigned--sys_error.active{ display: block; }
#predesigned--no_results_display h1.no_results--title, #predesigned--sys_error h1.no_results--title{ color: #000; font-size: 3.8rem; margin-bottom: 2.5rem; max-width: 15rem; text-align: left; margin-right: 5rem; }
#predesigned--no_results_display i{ font-size: 8rem; margin-right: 4rem; color: #d8ccb2; }
#predesigned--no_results_display p, #predesigned--sys_error p{ font-size: 1.6rem; margin-bottom: 2.5rem; color: #606060; text-align: left; margin-top: 0; }
#predesigned--no_results_display p.subtext, #predesigned--sys_error p.subtext{ font-size: 1.4rem; }
.no_results-flex_box{ display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;}
#predesigned--no_results_display .no_results--wrapper, #predesigned--sys_error .no_results--wrapper { background-color: #fff9ed; padding: 5rem 8rem; border: 2px solid #e2a482; max-width: 100rem; }
.error-number{ font-weight: bold; }
@media(max-width: 414px){
	.no_results-flex_box{ flex-wrap: wrap; }
	#predesigned--no_results_display i{ margin-right: 2rem; }
	#predesigned--no_results_display h1.no_results--title, #predesigned--sys_error h1.no_results--title{ font-size: 3.2rem; margin-right: 2rem; max-width: 100%; line-height: 8rem; }
	#predesigned--no_results_display .no_results--wrapper, #predesigned--sys_error .no_results--wrapper{ padding: 2rem 2rem; }
	#predesigned--no_results_display p.subtext br{ display: none; }
}


/* 3.6 Grid Exercise Program Cards */
.cards--grid_container_item{ display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: column; position: relative; width: 320px; height: 340px; margin: 0 10px 60px 10px; cursor: pointer; animation: fadeInAnimation ease 2s ; animation-iteration-count: 1; animation-fill-mode: forwards; }
.cards--grid_container_item .cards--menu_item{ position: absolute; top: -30px; right: 0px; cursor: pointer; color: #c54905; font-size: 1.4rem; }
.cards--grid_container_item .cards--menu_item i{ margin-right: 1rem; font-size: 1.6rem; }
.cards--grid_placeholder{ cursor: default; }
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 
@media( max-width: 414px ) {
	.cards--grid_container_item{ margin: 0 10px 50px 10px; }
}
.cards--grid_title{ display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: flex-start; -webkit-align-items: flex-start; align-items: flex-start; margin-top: 3.6rem; margin-left: 1.0rem; }
.cards--grid_title_text{ font-size: 2rem; font-weight: 600; line-height: 2.4rem; color: #303030;  }
.cards--item_header{ display: block; width: 320px; height: 100%; background-repeat: no-repeat; background-size: cover;	border: 1px solid #eaeaea; }
.cards--item_footer{ margin-top: 12px; padding:0 0px; }
.cards--item_footer .cards--program_title{ word-wrap: normal; display: -webkit-box; max-height: 3.2rem; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; white-space: normal; -webkit-line-clamp: 2; font-size: 1.4rem; font-weight: 500; line-height: 2.2rem; max-height: 4.4rem; min-height: 4.4rem; cursor: pointer; color: #c54905; } 
.cards--info_line #metadata-line{ font-size: 1.2rem; font-weight: 400; line-height: 1.8rem; color: #606060; max-width: 100%; max-height: 10.6rem; overflow: hidden; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; justify-content: space-between; margin-top: 0rem;  } 
.cards--info_line .metadata-block-description{ display: block; min-height: 9rem; }
.cards--info_line .metadata-block-first{ display: block; }
@media( max-width: 414px ) {
	.cards--info_line #metadata-line{ margin-top: 0rem; }
}
.cards--info_line #metadata-line .metadata-block{ display: inline-block; }

/* 3.7 Load More */
.loading-more-wrapper{ display: block; height: 5rem; line-height: 4rem; margin-bottom: 10rem; }
.btn-load_more_records{ border-radius: 3rem; border: 1px solid #e0e0e0; background-color: #ececec; padding: .5rem 5rem; text-align: center; font-size: 1.4rem; color: #606060; }
.btn-load_more_records  svg{ width: 1.6rem; height: 1.6rem; }
.btn-load_more_records  svg.margin-right-10{ margin-right: 10px; }

/* -------------------------------
   4.0 Filter Breadcrumb
------------------------------- */
#predesigned--crumbtrail_bubbles{ display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap; margin: 0;}
ul.predesigned--filter_crumbtrail{ padding: 0; margin:0; margin-left: 2rem; }
ul.predesigned--filter_crumbtrail li{ background-color: #f7f7f7; border: 1px solid #d3cabd; border-radius: 1.5rem; display: inline-block; margin-left: 0.5rem; padding: 0 1.5rem; line-height: 2.4rem; color: #212121; }
ul.predesigned--filter_crumbtrail li:first-child{ margin-left: 0; }
ul.predesigned--filter_crumbtrail li:hover{  }
ul.predesigned--filter_crumbtrail li span{ cursor: pointer; font-size: 1.4rem; }
ul.predesigned--filter_crumbtrail li span.remove_filter{ color: #c54905; font-weight: bold; text-transform: uppercase; font-size: 1.6rem; }
ul.predesigned--filter_crumbtrail li span.bubble-button-label{ cursor: default; padding-right: 1rem; }
.predesigned--total_programs_wrapper{ margin-right: 3rem; }

/* -------------------------------
   4.1 Mobile Filter Breadcrumb
------------------------------- */
#mobile-predesigned--crumbtrail_bubbles{ display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap; margin: 0; margin-top: 1rem; }
ul.mobile-predesigned--filter_crumbtrail{ padding: 0; margin:0; margin-left: 2rem; }
ul.mobile-predesigned--filter_crumbtrail li{ background-color: #f7f7f7; border: 1px solid #d3cabd; border-radius: 1.5rem; display: inline-block; margin-left: 0.5rem; padding: 0 1.5rem; line-height: 2.4rem; color: #212121; }
ul.mobile-predesigned--filter_crumbtrail li:first-child{ margin-left: 0; }
ul.mobile-predesigned--filter_crumbtrail li:hover{  }
ul.mobile-predesigned--filter_crumbtrail li span{ cursor: pointer; font-size: 1.4rem; }
ul.mobile-predesigned--filter_crumbtrail li span.remove_filter{ color: #c54905; font-weight: bold; text-transform: uppercase; font-size: 1.6rem; }
ul.mobile-predesigned--filter_crumbtrail li span.bubble-button-label{ cursor: default; padding-right: 1rem; }


/* -------------------------------
   5.0 Exercise Program Viewer
------------------------------- */
/* 5.1 Exercise Program Viewer */
.mdvip--viewer_overaly{ position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,0.6); display: none; z-index: 100; }
.mdvip--viewer_overaly.display{ display: block; }
.ptlinked--exercise_program_viewer{ position: absolute; top: 0; bottom: 0; right: 0; left: 0; width: 100%; display: block; background-color: #fff; overflow: hidden; z-index: 3000; height: 0; transition: height 500ms ease; }
.ptlinked--exercise_program_viewer.mdvip-modal{ top: -2rem; max-width: 1075px; margin: 0 auto; border: 1px solid #ccc; box-shadow: 1px 5px 10px 2px rgba(31,31,31,0.85); -webkit-box-shadow: 1px 5px 10px 2px rgba(31,31,31,0.85); -moz-box-shadow: 1px 5px 10px 2px rgba(31,31,31,0.85); } /* NEW */
.ptlinked--exercise_program_viewer.displayed{ height: 100%; }
.ptlinked--exercise_program_viewer .viewer--header{ background-color: #c54905; display: block; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer--header{ background-color: #fff; display: block; }
.ptlinked--exercise_program_viewer .viewer--header_inner{ padding-top: 35px; max-width: 1440px; width: 100%; padding-left: 2rem; padding-right: 2rem; margin-right: auto; margin-left: auto; display: flex; flex-direction: row; justify-content: space-between; }
.ptlinked--exercise_program_viewer .viewer--header_main{ padding-bottom: 30px; border-bottom: 1px solid #fff; margin-bottom: 24px; display: flex; justify-content: space-between; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer--header_main{ justify-content: flex-end; margin:0; padding:0; } /* NEW */
.ptlinked--exercise_program_viewer .viewer--site-logo{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-width: 145px; max-width: 145px; height: auto; margin-right: 40px; min-width: 200px; max-width: 200px; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer--site-logo{ display: none; } /* NEW */
.ptlinked--exercise_program_viewer .viewer--site-logo svg{ width: 100%; }
@media(max-width: 768px){
	.ptlinked--exercise_program_viewer .viewer--site-logo{ min-width: 150px; max-width: 150px; }
}
@media(max-width: 414px){
	.ptlinked--exercise_program_viewer .viewer--site-logo{ min-width: 100px; max-width: 100px; }
}
.ptlinked--exercise_program_viewer .viewer--header__title-wrapper{ padding-bottom: 2rem; display: flex; flex-direction: row; justify-content: space-between; padding: 3rem 4rem 1rem 4rem; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer--header__title-wrapper{ justify-content: flex-start; }
.ptlinked--exercise_program_viewer h1.viewer--header__title{ color: #fff; margin-bottom: 0; line-height: 1.2; font-size: 2.8rem; text-align: left; }
.ptlinked--exercise_program_viewer.mdvip-modal h1.viewer--header__title{ color: #797979; max-width: 100%; } /* NEW */
@media(max-width: 768px){
	.ptlinked--exercise_program_viewer h1.viewer--header__title{ font-size: 2.2rem; }
}
@media(max-width: 414px){
	.ptlinked--exercise_program_viewer .viewer--header__title-wrapper{ padding: 3rem 2rem 1rem 2rem; }
	.ptlinked--exercise_program_viewer h1.viewer--header__title{ font-size: 1.8rem; }
}
.viewer--close_button{ display: flex; }
@media(max-width: 414px){
	.viewer--close_button{ margin-left: 1rem; }
}
.ptlinked--exercise_program_viewer .viewer--close_button i{ font-size: 3.6rem; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer--close_button svg{ font-size: 1.8rem; } /* NEW */
.metadata-block-wrapper{ display: inline-flex; }
.ptlinked--exercise_program_viewer .metadata-block-wrapper .metadata-block{ color: #fff; font-size: 2rem; }
.ptlinked--exercise_program_viewer.mdvip-modal .metadata-block-wrapper .metadata-block{ color: #c54905; border: 2px solid #c54905; font-size: 1.4rem; padding: 0.2rem 1rem; text-transform: uppercase; line-height: 25px; max-height: 33px; }
.metadata-block-wrapper .metadata-block:hover{ color: #fff; text-decoration: underline; }
.viewer--metadata-block-mobile-wrapper .metadata-block{ color: #fff; font-size: 1.6rem; }
.viewer--metadata-block-mobile-wrapper .metadata-block:hover{ color: #fff; text-decoration: underline; }

/* 5.2 Exercise Program Viewer Header */
.viewer--header_bar{ display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; -ms-flex-align: flex-start; -webkit-align-items: flex-start; align-items: flex-start; -webkit-justify-content: space-between; justify-content: space-between; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.viewer--meta_data{ font-size: 1.4rem; color: #303030; line-height: 3rem; }
.ptlinked--exercise_program_viewer .metadata-block-wrapper .metadata-block i{ color: #fff; margin-right: 1rem; }
.ptlinked--exercise_program_viewer.mdvip-modal .metadata-block-wrapper .metadata-block i{ color: #c54905; margin-right: 1rem; }
.viewer--metadata-block-mobile-wrapper .metadata-block svg{ width: 1.4rem; color: #fff; }
.viewer--metadata-block-mobile-wrapper{ display: none; }
@media( max-width: 414px ) {
	.viewer--metadata-block-mobile-wrapper .metadata-block{ margin-left: 1.5rem; }
	.viewer--program_title{ margin-left: 0; font-size: 1.6rem; line-height: 2rem; }
	.ptlinked--exercise_program_viewer.mdvip-modal .metadata-block-wrapper .metadata-block{ font-size: 1.2rem; margin-left: 1rem!important; }
	.viewer--metadata-block-mobile-wrapper .metadata-block .label{ display: none; }
	.viewer--metadata-block-mobile-wrapper .metadata-block svg{ width: 2.4rem; margin-right:0.2rem!important; }
}
@media( max-width: 768px ) {
	.viewer--meta_data{ display: none; }
}
.is-clickable{ cursor: pointer; color: #606060; }
.is-clickable:hover{ color: #303030; }
.sticky{ position: fixed; top: 56px; width: 98vw; background-color: #fff; z-index: 10; padding-bottom: 0; }
.sticky + .content { padding-top: 102px; }
@media( max-width: 1024px ) {
	.sticky{ height: 7rem; }
}

/* 5.3 Exercise Item */
.ptlinked--exercise_program_viewer .viewer--exercise_container{ display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; -ms-flex-align: flex-start; -webkit-align-items: flex-start; align-items: flex-start; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center; padding-top: 0rem; /*height: calc( 100% - 313px) ;*/ height: 100%; overflow-y: auto; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer--exercise_container{ padding: 0 4rem; }
@media( max-width: 1024px ) {
	.viewer--exercise_container{ padding-top: 5rem; }
}
@media( max-width: 428px ) {
	.ptlinked--exercise_program_viewer.mdvip-modal .viewer--exercise_container{ padding: 0 0rem; padding-top: 2rem; }
}
.viewer--exercise_item{ display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: flex-start; -webkit-align-items: flex-start; align-items: flex-start;	padding-top: 3rem; padding-bottom: 8rem; width: 70vw; }
@media( max-width: 1120px ) {
	.viewer--exercise_item{ -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column;	-ms-flex-align: center; -webkit-align-items: center; align-items: center; width: 70vw; }	
}
.ptlinked--exercise_program_viewer .viewer-item--exercise_title{ width: 100%; color: #c54905; font-size: 1.6rem; text-align: left; margin-bottom: 3rem; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer-item--exercise_title{ font-size: 1.8rem; color: #797979; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer-item--exercise_title span.circle-num{ border: 2px solid #797979; border-radius: 1.5rem; width: 3rem; display: inline-block; text-align: center; margin-right: 1.5rem; }
.ptlinked--exercise_program_viewer .viewer-item--exercise_video_player{ width: 64rem; height: 36rem; border: 1px solid #eee; position: relative; cursor: pointer; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer-item--exercise_video_player{ margin: 0 auto; }
.viewer-item--exercise_video_player video{ width: 64rem; height: 36rem; }
@media( max-width: 754px ) {
	.viewer-item--exercise_video_player{ width: 100%!important; height: 35rem!important; background-size: cover; }
	.viewer-item--exercise_video_player video{ width: 100%!important; height: 21rem!important; }	
}
@media( max-width: 428px ) {
	.viewer-item--exercise_video_player{ width: 100%!important; height: 21rem!important; background-size: cover; }
	.viewer-item--exercise_video_player video{ width: 100%!important; height: 21rem!important; }
}
.ptlinked--exercise_program_viewer .viewer-item--exercise_meta_data{  flex: 1; margin-left: 4rem; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer-item--exercise_meta_data{  margin-left: 0rem; margin-top: 3rem; min-width: 100%; }
@media( max-width: 1024px) {
	.viewer-item--exercise_meta_data{ width: 100%; margin-left: 0; margin-top: 2rem; }
}
.ptlinked--exercise_program_viewer .viewer-item--label{ font-size: 1.6rem; color: #c54905; font-weight: 500; margin-bottom: 1.5rem; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer-item--label{ font-size: 1.8rem; color: #797979; font-weight: 500; margin-bottom: 1.5rem; display: none; }
.ptlinked--exercise_program_viewer .viewer-item--text{ font-size: 1.4rem; color: #303030; font-weight: 400; margin-bottom:5rem; }
.ptlinked--exercise_program_viewer.mdvip-modal .viewer-item--text{ font-size: 1.6rem; color: #303030; font-weight: 400; margin-bottom:2rem; }
.workout-exercise__param-set{ display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; }
.viewer-item--label{ font-size: 1.6rem; color: #c54905; font-weight: 500; margin-bottom: 1.5rem; }
.viewer-item--text{ font-size: 1.4rem; color: #303030; font-weight: 400; margin-bottom:5rem; }
.workout-exercise__param-set{ display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; }
.param-set { display: flex; flex-direction: column; position: relative; margin-right: 3rem; }
.param-set:last-child{ margin-right: 0px; }
.param-set label{ width: 100%; font-size: 1.4rem; font-weight: 500; color: #303030; margin-bottom: 0.5rem; }
.input-width-100 { width: 110px !important; text-align: center; display: inline-block; }
@media(max-width: 1270px) {
	.input-width-100{ width: 85px!important; text-align: left; }
}
@media(max-width: 1170px){
	.param-set{ margin-right: 1rem; }
}
@media( max-width: 414px ) {
	.input-width-100{ width: 85px!important; text-align: left; }
}
.form-control { border: 1px solid #d3d8de!important; box-shadow: none!important; font-size: 1.4rem!important; line-height: 1.4rem!important; height: 3.4rem!important; padding: 0.6rem 1.2rem!important; padding-right: 1.2rem!important; }
span.parameter-suffix { position: absolute; top: 33px; right: 8px; color: #606060; font-size: 1.4rem; }
@media( max-width: 414px ) {
	span.parameter-suffix { right: 1rem; top: 3.0rem; }
}
i.toggle-unit{ position: absolute; top: 0rem; left: 9rem; color: #065fd4 ; }

/*
.param-set { display: flex; flex-direction: row; margin-right: 3rem; }
.param-set:last-child{ margin-right: 0px; }
.param-set span.param-label{ font-size: 1.6rem; font-weight: 600; margin-right: 1.5rem; color: #303030; }
.param-set span.parameter-input{ font-size: 1.6rem; margin-right: 0.5rem; }
.param-set span.parameter-suffix{ font-size: 1.4rem; color: #303030; margin-top: 0.3rem; }

@media( max-width: 754px ) { 
	.param-set{ margin-right: 3rem; }
	.workout-exercise__param-set{ flex-wrap: wrap; }
	.param-set span.param-label{ margin-right: 1rem; }
	.param-set span.parameter-input{ margin-right: 0.3rem; }	
}
.input-width-100 { width: 110px !important; text-align: center; display: inline-block; }
@media(max-width: 1170px){
	.param-set{ margin-right: 1rem; }
}
.form-control { border: 1px solid #d3d8de!important; box-shadow: none!important; font-size: 1.4rem!important; line-height: 1.4rem!important; height: 3.4rem!important; padding: 0.6rem 1.2rem!important; padding-right: 1.2rem!important; }
i.toggle-unit{ position: absolute; top: 0rem; left: 9rem; color: #065fd4 ; }
*/
.video-play-button{ position: absolute; top:30%; left: 40%; text-align: center; background-color: rgba(0,0,0); cursor: pointer; border-radius: 5rem; width: 10rem; height: 10rem; font-size: 4rem; color: rgba(255,255,255); opacity: 0.75; transition: opacity 0.5s; }
.video-play-button svg{ position: absolute; top: 28px; left: 35px; width: 4rem; }
.viewer-item--exercise_video_player:hover .video-play-button{ opacity: 1; }
@media( max-width: 414px ) {
	.video-play-button{ width: 7rem; height: 7rem; }
	.video-play-button svg{ top: 19px; left: 24px; width: 3rem; }
}

/* 5.4 Desktop Thumbnail Slider */
.viewer--filmstrip_container{ width: 100%; margin-top: 0px; }
@media( max-width: 1024px ) {
	.viewer--filmstrip_container{ display: none; }
}
.workout-preview__filmstrip { background-color: #fff; height: 145px; max-height: 145px; width: 100%; position: relative; padding: 5px 75px; overflow: hidden; }
.ptlinked--exercise_program_viewer .workout-preview__filmstrip .left-arrow{ font-size: 3rem; position: absolute; top: 22px; left: 3rem; height: 102px; line-height: 102px; width: 38px; text-align: center; cursor: pointer; display: none; color: #fff; background-color: #c54905; }
.ptlinked--exercise_program_viewer .workout-preview__filmstrip .right-arrow{ font-size: 3rem; position: absolute; top: 22px; right: 3rem; height: 102px; line-height: 102px; width: 38px; text-align: center; cursor: pointer; display: none; color: #fff; background-color: #c54905; }
.ptlinked--exercise_program_viewer .workout-preview__filmstrip .show-arrow{ display: block; }
ul.workout-preview__thumbs{ display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-justify-content: flex-start; justify-content: flex-start; list-style: none; padding: 0; margin: 0; height: 100%; overflow: hidden; }
ul.workout-preview__thumbs li{ width: 9.2rem; min-width: 9.2rem; height: 10.1rem; margin-right: 1.5rem; cursor: pointer; border: 1px solid #606060; position: relative; }
ul.workout-preview__thumbs li > img{ border: none; vertical-align: middle; }
ul.workout-preview__thumbs li span.item-number-indicator{ background-color: #fff; border-radius: 1.5rem; font-size: 1.4rem; width: 3rem; height: 3rem; line-height: 2.6rem; border: 2px solid #c54905; text-align: center; color: #c54905; position: absolute; bottom: -15px; left: 3rem;  }
ul.workout-preview__thumbs li.selected span.item-number-indicator{ border-color: #797979; color: #303030; }
@media (max-width: 1600px) { 
	.viewer--exercise_item{ width: 100%; padding: 0 3rem; padding-top: 3rem; padding-bottom: 5rem; }
}
@media( max-width: 414px ) {
	.viewer--exercise_item{ width: 100%; padding: 0 2rem; padding-top: 3rem; padding-bottom: 5rem; }
}

/* 5.5 New Filter Drop Down */
.ptlinked--filter_dropdown{ position: absolute; top:0; left: 0; z-index: 5; background-color: #fff; border:1px solid #e0e0e0; box-shadow: 1px 5px 10px 2px rgba(31,31,31,0.85); -webkit-box-shadow: 1px 5px 10px 2px rgba(31,31,31,0.85); -moz-box-shadow: 1px 5px 10px 2px rgba(31,31,31,0.85); display: none; flex-direction: row; justify-content: flex-start; opacity: 0; transition: opacity 0.2s ease; margin: 15px 0; }
.ptlinked--filter_dropdown.display{ display: flex; }
.ptlinked--filter_dropdown.display.show{ opacity: 1; }
.ptlinked--filter_dropdown .arrow{ border: solid black; width:  2rem; height: 2rem; border-width: 0 3px 3px 0; display: inline-block; padding: 3px; position: absolute; top: -10px; background-color: #fff; border-color: #fff; z-index: 1; -webkit-box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.85); box-shadow: 0px 0px 5px 0px rgba(31,31,31,0.85); }
.ptlinked--filter_dropdown .arrow.up { transform: rotate(-135deg); -webkit-transform: rotate(-135deg); }
.ptlinked--filter_dropdown .arrow.up.right{ background-color: #fff; border-color: #fff; }
.ptlinked-dropdown_wrapper{ display: flex; flex-direction: row; justify-content: flex-start; z-index: 3; background-color: #fff; }
.ptlinked--dropdown_bodyregion_highlight{ background-color: #fff; padding: 1.5rem 0; min-width: 20rem; }
.ptlinked--m_bodyregion_highlight{ text-align: center; }
.ptlinked--dropdown_bodyregion_highlight .highlight-label{ font-size: 1.8rem; font-weight: bold; color: #717171; text-transform: capitalize; text-align: center; }
.ptlinked--m_bodyregion_highlight .highlight-label{ font-size: 1.8rem; font-weight: bold; color: #717171; text-transform: capitalize; text-align: center; margin-top: 2rem; }
.ptlinked--dropdown_bodyregion_highlight img{ max-height: 30rem; }
.ptlinked--m_bodyregion_highlight img{ max-height: 45rem; }
.ptlinked--dropdown_filters{ padding: 1.5rem 5rem; min-width: 50rem; }
.ptlinked--filter_group{ margin-bottom: 3rem; position: relative;  }
.ptlinked--filter_group .filter-label{ font-size: 1.4rem; font-weight: bold; text-transform: capitalize; margin-bottom: 1.5rem; }
.ptlinked--filter_group ul.filter--item_list{ list-style: none; padding:0; margin:0; min-height: 200px; }
.ptlinked--filter_group ul.filter--item_list li{ font-size: 1.4rem; cursor: pointer; line-height: 3rem; }
.ptlinked--filter_group ul.filter--item_list li i{ font-size: 1.4rem; position: relative; margin-right: 1rem; opacity: 0; transition: opacity 0.2s; color: #ccc; }
.ptlinked--filter_group ul.filter--item_list li.selected i{ display: none; }
.ptlinked--filter_group ul.filter--item_list li:hover i.selection-hover { opacity: 1; }
.ptlinked--filter_group ul.filter--item_list li.selected:hover i.selection-hover { opacity: 0; display: none; }
.ptlinked--filter_group ul.filter--item_list li.selected i.selection-remove{ width: 1rem; margin-left: 2rem; position: relative; opacity: 1; color: #c54905; display: inline-block; margin-right: 0; }
.ptlinked--filter_group ul.filter--item_list li.selected span{ background-color: #f7f7f7; border: 1px solid #d3cabd; border-radius: 1.5rem; margin-left: 1.5rem; padding: 0.3rem 1.5rem; }
.ptlinked--filter_group ul.filter--item_list li.hidden{ display: none; }
.clear-condition-filters{ position: absolute; width: 1.5rem; top: 42px; right: -30px; cursor: pointer; }